<form class="example-form">
    <h2>Modifier les informations de cette personne</h2>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
  
          <form class="example-form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
              
            </form>
            <div>
              <input type="password" placeholder="Mot de passe" required="" id="password" />
            </div>
            <p>     
                  
            </p>
            <form class="example-form">
              <mat-form-field appearance="fill">
                <mat-label>Rôle</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Superadmin</mat-option>
                  <mat-option value="option2">Admin</mat-option>
                  <mat-option value="option3">Médecin</mat-option>
                </mat-select>
              </mat-form-field>
                     <mat-form-field appearance="fill">
                      <mat-label>Centre </mat-label>
                      <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">CHU Nancy</mat-option>
                        <mat-option value="option2">CHU Paris</mat-option>
                        <mat-option value="option3">CHU X</mat-option>
                      </mat-select>
                    </mat-form-field>
            </form>
    </form>
  
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Désactiver</button>
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Enregistrer</button>
  
  
    