<h2>Centre de vaccination CHU Nancy</h2>
<mat-tab-group>
    <mat-tab label="Admins">
        <button mat-button (click)="openDialog2()"> + Ajouter une personne</button>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Admin 1</mat-card-title>
          </mat-card-header>
          <mat-card-actions align ="end">
            <button mat-button (click)="openDialog4()">Modifier</button>
            <button mat-button>Supprimer</button>
          </mat-card-actions >
        </mat-card>
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Admin 2</mat-card-title>
          </mat-card-header>
          <mat-card-actions align ="end">
            <button mat-button (click)="openDialog4()">Modifier</button>
            <button mat-button>Supprimer</button>
          </mat-card-actions>
        </mat-card>
        </mat-tab>
    <mat-tab label="Médecins">  
        <button mat-button (click)="openDialog2()"> + Ajouter une personne</button>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Médecin 1</mat-card-title>
          </mat-card-header>
          <mat-card-actions align ="end">
            <button mat-button (click)="openDialog4()">Modifier</button>
            <button mat-button>Supprimer</button>
          </mat-card-actions >
        </mat-card>
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Médecin 2</mat-card-title>
          </mat-card-header>
          <mat-card-actions align ="end">
            <button mat-button (click)="openDialog4()">Modifier</button>
            <button mat-button>Supprimer</button>
          </mat-card-actions>
        </mat-card>
        </mat-tab>
  